footer.footer
    .container
        .row.footer-row
            .col-md-6
                .logo
                    img.logo-img(src="../../assets/images/logo.png" alt="logo")
                    p Copyright © 2009–2014 JLP MEDIA. 
            .col-md-6
                .social
                    ul.social__list
                        li.social__item
                            a.social__link(href="#")
                                span.fab.fa-facebook-f
                        li.social__item
                            a.social__link(href="#")
                                span.fab.fa-pinterest-p
                        li.social__item
                            a.social__link(href="#")
                                span.fab.fa-linkedin-in
                        li.social__item
                            a.social__link(href="#")
                                span.fab.fa-google-plus-g
                        li.social__item
                            a.social__link(href="#")
                                span.fab.fa-twitter
