.header
    .row
        .logo.col-md-12.col-sm-10.col-9
            img.logo-img(src="../../assets/images/logo.png" alt="logo")
        .col-sm-1.col-2
            include ./hamburger.pug
    .row    
        .col-md-12
            ul.nav-list.nav.nav-pills.nav-fill
                li.nav-item 
                    a.nav-link(href='#general') Home
                li.nav-item 
                    a.nav-link(href='#about') About the Product
                li.nav-item 
                    a.nav-link(href='#benefits') Benefits
                li.nav-item
                    a.nav-link(href='#comment') Testimonials
                li.nav-item 
                    a.nav-link(href='#action') Buy
                li.nav-item 
                    a.nav-link(href='#contact') Contact
               
                