extends ../template

block variables
    - var title = 'Produse'

block content
    include ../section/general.pug
    include ../section/about.pug
    include ../section/benefits.pug
    include ../section/use.pug
    include ../section/comment.pug
    include ../section/action.pug
    include ../section/contact.pug