section.section.about(id='about')
    .container
        .row
            .col-md-12
                h2.about__title ABOUT GARCINIA CAMBOGIA
        .row
            .col-md-12
                .about__content
                    h4.about__content-title Reduce food intake and promote
                        span &nbsp; weight loss fast!
                    .about__content-text Effective thermogenic supplements are those that contain key ingredients that create a fat burning 'thermogenic' environment by working together and in synergy. Some of these ingredients also aid in reducing appetite and spiking an increase in short-term energy. Dosage of Garcinia cambogia, beginning from 750 mg to 1,500 mg, takes 2-3 times in individual dose before meals.
                    .about__product
                        h4.about__product-title Other 
                            span &nbsp; Related 
                            span &nbsp; Products
                        ul.about__product-list
                            li.about__product-item
                                a.about__product-link(href='#')
                                    img.about__product-img(src='assets/images/product/1.jpg' alt='product')
                                .about__product-hover.js-open-modal(data-modal="modal_1")
                                    img.zoom(src='assets/images/zoom.png')
                            li.about__product-item
                                a.about__product-link(href='#' )
                                    img.about__product-img(src='assets/images/product/2.jpg' alt='product')
                                .about__product-hover.js-open-modal(data-modal="modal_2")
                                    img.zoom(src='assets/images/zoom.png')
                            li.about__product-item
                                a.about__product-link(href='#')
                                    img.about__product-img(src='assets/images/product/3.jpg' alt='product')
                                .about__product-hover.js-open-modal(data-modal="modal_3")
                                    img.zoom(src='assets/images/zoom.png')


.modal__overlay.close(id="modal")
.modal.close(data-modal="modal_1")
    .content
        img.about__product-img(src='assets/images/product/1.jpg' alt='product')
    a.close__link.js-close(href="#"  data-modal="modal_1") Close
.modal.close(data-modal="modal_2")
    .content
        img.about__product-img(src='assets/images/product/2.jpg' alt='product')
    a.close__link.js-close(href="#"  data-modal="modal_2") Close
.modal.close(data-modal="modal_3")
    .content
        img.about__product-img(src='assets/images/product/3.jpg' alt='product')
    a.close__link.js-close(href="#"  data-modal="modal_3") Close
    
    
    