section.section.action(id='action')
    .container
        .row
            .col-md-6.col-sm-12
                .action__title
                    h2.action__title-text Increase Your Energy Level with &nbsp; 
                        span Garcinia Cambogia
                .action__text It works as inhibit fat and cholesterol accumulation by slowing down the enzyme. Get The Most Effective Fat Burning Supplement Now!
                ul.action__list
                    li.action__item Promotes weight loss
                    li.action__item Suppresses appetite
                    li.action__item Increases fat oxidation
                    li.action__item Promotes glycogen synthesis
                button.try-button(type='submit') Try it Now
            .col-md-6.col-sm-12
                .action__foto
                    img.action__img(src="../assets/images/item2.png" alt="item")
                    .action__price 
                        p only 
                        p <sup> $ </sup> 99.99