section.section.comment(id='comment')
    .container
        .row.comment__row  
            .col-lg-8.col-md-7
                .comment__title
                    h2.comment__title-text Image YOUR BODY SO HEALTHY!
            .col-lg-4.col-md-5
                .order
                    a.order-button(type='submit' href="#general")
                        p Try This Product
                        p money back Gaurantee
        .row.slider__row
            .col-md-12
                .slider(id='slider')
                    .slider__content
                        ul.slider__list
                            li.slider__item
                                .slider__list-foto
                                    img.slider__list-img(src='assets/images/foto/1.jpg' alt='Jannie Doe')
                                .slider__list-content
                                    .slider__list-text “Garcinia cambogia is one of the main components in one of the best-selling supplemental weight loss products, Hydroxycut., and researchers have concluded that "the evidence for G. cambogia is not compelling." 
                                    .slider__list-author Jannette Doe | Abc Company
                            li.slider__item
                                .slider__list-foto
                                    img.slider__list-img(src='assets/images/foto/2.jpg' alt='Jannie Doe')
                                .slider__list-content
                                    .slider__list-text “Garcinia cambogia is one of the main components in one of the best-selling supplemental weight loss products, Hydroxycut., and researchers have concluded that "the evidence for G. cambogia is not compelling." 
                                    .slider__list-author Jannette Doe | Abc Company
                            li.slider__item
                                .slider__list-foto
                                    img.slider__list-img(src='assets/images/foto/1.jpg' alt='Jannie Doe')
                                .slider__list-content
                                    .slider__list-text “Garcinia cambogia is one of the main components in one of the best-selling supplemental weight loss products, Hydroxycut., and researchers have concluded that "the evidence for G. cambogia is not compelling." 
                                    .slider__list-author Jannette Doe | Abc Company
                            li.slider__item
                                .slider__list-foto
                                    img.slider__list-img(src='assets/images/foto/2.jpg' alt='Jannie Doe')
                                .slider__list-content
                                    .slider__list-text “Garcinia cambogia is one of the main components in one of the best-selling supplemental weight loss products, Hydroxycut., and researchers have concluded that "the evidence for G. cambogia is not compelling." 
                                    .slider__list-author Jannette Doe | Abc Company
                            

                    
                    a.slider__control.slider__control_left( href="#" role="button") >
                    a.slider__control.slider__control_right.slider__control_show( href="#" role="button") <
    
                       
                    
                    