section.section.use
    .container
        .use__title-row.row
            .col-md-7
                .use__slogan
                    p.use__slogan-text Obesity is an imbalance between fat intake and energy expenditure. 
                    p.use__slogan-text Now day obesity is a problem of health and mind in many people.
            .col-md-5
                h2.use__title WHAT ARE THE BENEFITS
        .row
            .col-md-12
                h4.use__content-title Reduce food intake and promote
                    span &nbsp; weight loss fast!
        .row
            .col-md-12
                .use__content-text Effective thermogenic supplements are those that contain key ingredients that create a fat burning 'thermogenic' environment by working together and in synergy. Some of these ingredients also aid in reducing appetite and spiking an increase in short-term energy. Dosage of Garcinia cambogia, beginning from 750 mg to 1,500 mg, takes 2-3 times in individual dose before meals.
        .row
            .col-md-12
                ul.use__list
                    li.use__item
                        .use__item-number 1
                        .use__item-text The active ingredient in Garcinia Cambogia is Hydroxyciric acid (HCA). It works as inhibit fat and cholesterol accumulation by slowing down the enzyme.
                    li.use__item
                        .use__item-number 2
                        .use__item-text The active ingredient in Garcinia Cambogia is Hydroxyciric acid (HCA). It works as inhibit fat and cholesterol accumulation by slowing down the enzyme.
                    li.use__item
                        .use__item-number 3
                        .use__item-text The active ingredient in Garcinia Cambogia is Hydroxyciric acid (HCA). It works as inhibit fat and cholesterol accumulation by slowing down the enzyme.